# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# Maven build output
target/
*.jar
*.war

# IDE files
.idea/
*.iml
.vscode/

# Mac OS
.DS_Store

# Logs
*.log
